:host { 
     font-family: var(--opening-hours-font-family, sans-serif);
}

.openingHoursContainer {
    gap: var(--opening-hours-gap, 5px);
}

.status {
    font-weight: var(--opening-hours-font-weight, bold);
}