:host { 
     font-family: var(--opening-hours-font-family, sans-serif);
}

#oeffnungszeiten-link {
    gap: var(--opening-hours-gap, 3px);
}

.status {
    font-weight: var(--opening-hours-font-weight, bold);
}