<a-emotion-pictures 
    with-border 
    with-triangle
    namespace="emotion-pictures-corporate-"
>
    <a-picture 
        picture-load 
        defaultSource="../../../../img/emotion-pictures/emotion_corporate.jpg"
        alt="randomized image"
    ></a-picture>
</a-emotion-pictures>
<div class="spacer"></div>
<h1>heading 1</h1>
<h2>heading 2</h2>
<h3>heading 3</h3>
<h4>heading 4</h4>
<h5>heading 5</h5>
<h6>heading 6</h6>
<o-wrapper namespace="wrapper-teaser-">
    <m-teaser namespace=teaser-plain- width=33% href="http://www.jowa.ch">
        <figure>
            <figcaption>
                <a-picture namespace="picture-teaser-" alt="Jcr Content"
                    defaultsource="../../../../img/teaser/teaser_geschnetzeltes.jpg"
                    aspect-ratio="" sources-keep-query-aspect-ratio="" style="--img-object-position: center center"
                    picture-load="" tabindex="0" loading="eager" loaded-bad-quality="true" loaded="true"></a-picture>
                <div>
                    <p class="bold">Nachhaltigkeit in der Gemeinschaftsgastronomie</p>
                    <h2>Weil es nur eine Erde gibt: Unser Engagement für eine nachhaltige
                        Zukunft.</h2>
                    <a-arrow move="" hover-on-parent-shadow-root-host="" direction="right"></a-arrow>
                </div>
            </figcaption>
        </figure>
    </m-teaser>
    <m-teaser namespace=teaser-plain- width=33% href="http://www.jowa.ch">
        <figure>
            <figcaption>
                <div>
                    <p class="bold">Nachhaltigkeit in der Gemeinschaftsgastronomie</p>
                    <h2>Weil es nur eine Erde gibt: Unser Engagement für eine nachhaltige
                        Zukunft.</h2>
                    <a-arrow move="" hover-on-parent-shadow-root-host="" direction="right"></a-arrow>
                </div>
            </figcaption>
        </figure>
    </m-teaser>
    <m-teaser namespace=teaser-overlay- href="http://www.jowa.ch">
        <figure>
            <a-picture namespace="picture-teaser-" picture-load
                defaultSource="../../../../img/teaser/teaser_geschnetzeltes.jpg" alt="randomized image"></a-picture>
            <figcaption>
                <h2 class=bg-color>Unsere Angebote & Services</h2>
                <h2 class=bg-color><a-arrow move direction=right></a-arrow></h2>
            </figcaption>
        </figure>
    </m-teaser>
</o-wrapper>
<hr>
<div>
    <h1 class="bg-color font-size-big">Die Welt der Migros Gastronomie</h1>
    <h1 class="bg-color">Die Welt der Migros Gastronomie</h1>
</div>
<hr>
<div>
    <h1 class="title-border">Die Welt der Migros Gastronomie</h1>
    <h2 class="title-border">Die Welt der Migros Gastronomie</h2>
    <h3 class="title-border">Die Welt der Migros Gastronomie</h3>
    <h4 class="title-border">Die Welt der Migros Gastronomie</h4>
    <h5 class="title-border">Die Welt der Migros Gastronomie</h5>
    <h6 class="title-border">Die Welt der Migros Gastronomie</h6>
    <hr>
    <h2 class="title-border">Die Welt der Migros Gastronomie</h2>
    <p>Beim Vorzeigen der Senioren-Vorteilskarte profitieren Sie das ganze Jahr 2025 von zahlreichen Partnerangeboten,
        welche
        unten aufgeführt sind. Zudem erhalten Sie mit dem abonnierten Senioren-Newsletter monatlich eine spannende
        Kolumne mit
        Tipps und weitere attraktive Partnerangebote und Vergünstigungen.</p>
    <p>Das Einkaufscenter ist mit allen Verkehrsmitteln gut erreichbar – mit einer Bushaltestelle direkt vor dem Center
        und in einer Minute ab der Autobahnausfahrt. Parkplätze stehen zur Verfügung.</p>
    <p>Melden Sie sich also gleich für beides an – für die Senioren-Vorteilskarte und den Senioren-Newsletter. Seit
        April werden diese Module in Schränken von der Grösse eines kleinen Kühlschranks mit einer Speicherkapazität von
        10
        kWh verpackt und im Zentralwallis von dem Händler Oiken zum Preis von 3500 Franken an <a href="">Privathaushalte
            verkauft</a>. Dazu
        kommt ein Monatsabo von 40 Franken für die Wartung. Ein neues Speichermodul würde jedoch 6000 bis 8000 Franken
        kosten.
        Das Ziel des noch jungen Start-ups ist es, bis zum Jahresende sein Angebot auf die ganze Westschweiz und bis
        2026 auf
        die übrige Schweiz auszuweiten.
    </p>
    <p>
    <ul class="bull">
        <li>1 Tasse Heissgetränk</li>
        <li>2 Kleinbrote oder Gipfeli</li>
        <li>2 Brotaufstriche oder Käsli</li>
        <li>1 Mini-Glas nach Wahl</li>
    </ul>
    </p>
    <p>
    <blockquote>Quote: Sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.</blockquote>
    </p>
    <hr>
    <a href="bahh">Test Link</a>
    <a-button namespace="button-default-">Button Default</a-button>
    <a-button namespace="button-primary-">Button Primary</a-button>
    <a-button namespace="button-secondary-">Hello</a-button>
    <hr>
</div>
<o-wrapper namespace=wrapper-teaser- href="hello">
    <m-teaser namespace="teaser-tile-">
        <figure>
            <a-picture namespace="picture-teaser-" picture-load defaultSource="../../../../img/teaser/teaser_test_1.jpg"
                alt="randomized image"></a-picture>
            <figcaption>
                <h2>Personalrestaurant Migros</h2>
                <p>Preiswert und schmackhaft: Die Migros-Restaurants sind stets einen Besuch wert.</p>
                <a-link namespace="underline-"><a>Mehr erfahren</a></a-link>
            </figcaption>
        </figure>
    </m-teaser>
    <m-teaser namespace="teaser-tile-" href="https://www.stadlerrail.com/de/ueber-uns/standorte/stadler-bussnang-ag/">
        <figure>
            <a-picture namespace="picture-teaser-" picture-load defaultSource="../../../../img/teaser/teaser_test_2.jpg"
                alt="randomized image"></a-picture>
            <figcaption>
                <h2>Migros-Restaurant</h2>
                <p>Schnell und einfach: die ideale Verpflegung für jeden Geschmack. Migros Betriebsrestaurants –
                    Gastgeber, die Gas geben.</p>
                <a-link namespace="underline-"><a>Mehr erfahren</a></a-link>
            </figcaption>
        </figure>
    </m-teaser>
    <m-teaser namespace="teaser-tile-" href="https://www.stadlerrail.com/de/ueber-uns/standorte/stadler-bussnang-ag/">
        <figure>
            <a-picture namespace="picture-teaser-" picture-load defaultSource="../../../../img/teaser/teaser_test_4.jpg"
                alt="randomized image"></a-picture>
            <figcaption>
                <h2>Genossenschaftsgastronomie</h2>
                <p>Migros Betriebsrestaurants – Gastgeber, die Gas geben. Schnell und einfach: die ideale Verpflegung
                    für jeden Geschmack.</p>
                <a-link namespace="underline-"><a>Mehr erfahren</a></a-link>
            </figcaption>
        </figure>
    </m-teaser>
</o-wrapper>